In [1]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Population

In [2]:
# find population of state,find total pop of county, percent of of the county pop to the state

In [3]:
pop = pd.read_csv('./Ignore/covid_county_population_usafacts.csv')

In [4]:
pop.describe()

         countyFIPS    population
count   3195.000000  3.195000e+03
mean   29882.220970  1.027354e+05
std    15524.479302  3.309477e+05
min        0.000000  0.000000e+00
25%    18098.000000  1.039950e+04
50%    29123.000000  2.512700e+04
75%    45054.000000  6.694150e+04
max    56045.000000  1.003911e+07

In [5]:
pop.head()

   countyFIPS            County Name State  population
0           0  Statewide Unallocated    AL           0
1        1001         Autauga County    AL       55869
2        1003         Baldwin County    AL      223234
3        1005         Barbour County    AL       24686
4        1007            Bibb County    AL       22394

In [6]:
# States dic
state_name = {
    'AL':'Alabama',
    'AK':'Alaska',
    'AZ':'Arizona',
    'AR':'Arkansas',
    'CA':'California',
    'CO':'Colorado',
    'CT':'Connecticut',
    'DE':'Delaware',
    'DC':'District of Columbia',
    'FL':'Florida',
    'GA':'Georgia',
    'HI':'Hawaii',
    'ID':'Idaho',
    'IL':'Illinois',
    'IN':'Indiana',
    'IA':'Iowa',
    'KS':'Kansas',
    'KY':'Kentucky',
    'LA':'Louisiana',
    'ME':'Maine',
    'MD':'Maryland',
    'MA':'Massachusetts',
    'MI':'Michigan',
    'MN':'Minnesota',
    'MS':'Mississippi',
    'MO':'Missouri',
    'MT':'Montana',
    'NE':'Nebraska',
    'NV':'Nevada',
    'NH':'New Hampshire',
    'NJ':'New Jersey',
    'NM':'New Mexico',
    'NY':'New York',
    'NC':'North Carolina',
    'ND':'North Dakota',
    'OH':'Ohio',
    'OK':'Oklahoma',
    'OR':'Oregon',
    'PA':'Pennsylvania',
    'RI':'Rhode Island',
    'SC':'South Carolina',
    'SD':'South Dakota',
    'TN':'Tennessee',
    'TX':'Texas',
    'UT':'Utah',
    'VT':'Vermont',
    'VA':'Virginia',
    'WA':'Washington',
    'WV':'West Virginia',
    'WI':'Wisconsin',
    'WY':'Wyoming'
}

In [7]:
state_pop_sum = {}
for index, row in pop.iterrows():
    state_abbr = row['State'] 
    tot_pop = row['population']  
    
    if state_abbr in state_pop_sum:
        state_pop_sum[state_abbr] += tot_pop
    else:
        state_pop_sum[state_abbr] = tot_pop

for state, pop_sum in state_pop_sum.items():
    print(f"{state}: {pop_sum}")

AL: 4903185
AK: 731545
AZ: 7278717
AR: 3017804
CA: 39512223
CO: 5758736
CT: 3565287
DE: 973764
DC: 705749
FL: 21477737
GA: 10617423
HI: 1415872
ID: 1787065
IL: 12671821
IN: 6732219
IA: 3155070
KS: 2913314
KY: 4467673
LA: 4648794
ME: 1344212
MD: 6045680
MA: 6892503
MI: 9986857
MN: 5639632
MS: 2976149
MO: 6137428
MT: 1068778
NE: 1934408
NV: 3080156
NH: 1359711
NJ: 8882190
NM: 2096829
NY: 19453561
NC: 10488084
ND: 762062
OH: 11689100
OK: 3956971
OR: 4217737
PA: 12801989
RI: 1059361
SC: 5148714
SD: 884659
TN: 6829174
TX: 28995881
UT: 3205958
VT: 623989
VA: 8535519
WA: 7614893
WV: 1792147
WI: 5822434
WY: 578759

In [8]:
tot_pop = pd.DataFrame(list(state_pop_sum.items()), columns=['State', 'Total Population'])
tot_pop.head()

  State  Total Population
0    AL           4903185
1    AK            731545
2    AZ           7278717
3    AR           3017804
4    CA          39512223

In [9]:
merged_pop = pd.merge(pop, tot_pop, on='State')
merged_pop.head()

   countyFIPS            County Name State  population  Total Population
0           0  Statewide Unallocated    AL           0           4903185
1        1001         Autauga County    AL       55869           4903185
2        1003         Baldwin County    AL      223234           4903185
3        1005         Barbour County    AL       24686           4903185
4        1007            Bibb County    AL       22394           4903185

In [10]:
merged_pop['pop %'] = (merged_pop['population'] / merged_pop['Total Population'])*100
merged_pop.head()

,countyFIPS,County Name,State,population,Total Population,pop %
0,0,Statewide Unallocated,AL,0,4903185,0.000000
1,1001,Autauga County,AL,55869,4903185,1.139443
2,1003,Baldwin County,AL,223234,4903185,4.552837
3,1005,Barbour County,AL,24686,4903185,0.503469
4,1007,Bibb County,AL,22394,4903185,0.456724

In [11]:
#population data Frame
merged_pop.to_csv('./Data/population_w_percent.csv', index = False)

In [12]:
new_pop = pd.read_csv('./Data/population_w_percent.csv')

In [13]:
new_pop.head()

,countyFIPS,County Name,State,population,Total Population,pop %
0,0,Statewide Unallocated,AL,0,4903185,0.000000
1,1001,Autauga County,AL,55869,4903185,1.139443
2,1003,Baldwin County,AL,223234,4903185,4.552837
3,1005,Barbour County,AL,24686,4903185,0.503469
4,1007,Bibb County,AL,22394,4903185,0.456724

In [14]:
new_pop.isna().sum()

countyFIPS          0
County Name         0
State               0
population          0
Total Population    0
pop %               0
dtype: int64

In [15]:
new_pop['pop %'] = new_pop['pop %']/100

In [16]:
pop_percent = new_pop.drop(columns=['County Name', 'State', 'population', 'Total Population'])

# Confirmed Cases

### 2020 Cases

In [17]:
cases = pd.read_csv('./Ignore/covid_confirmed_usafacts.csv')

In [18]:
cases['County'] = cases['County Name'].str.replace(r'\bCounty\b', '', regex=True).str.strip()

In [19]:
county_fips = cases[['countyFIPS', 'County Name', 'State']]

In [20]:
cases = pd.merge(cases, pop_percent, how = 'left', on='countyFIPS').copy()

In [21]:
cases.head()

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23,County,pop %
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Statewide Unallocated,0.0
1,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Statewide Unallocated,0.0
2,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Statewide Unallocated,0.0
3,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Statewide Unallocated,0.0
4,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Statewide Unallocated,0.0

In [22]:
cases_2020 = cases[['countyFIPS', 'County', 'State', 'StateFIPS', '2020-12-31', 'pop %']].copy()

In [23]:
cases_test = cases[['countyFIPS', 'County', 'State', 'StateFIPS', '2020-12-31', 'pop %']].copy()

In [24]:
cases_2020.rename(columns = {'2020-12-31': 'cases_2020', 'pop %': 'pop_per'}, inplace =True)

In [25]:
cases_2020.head()

   countyFIPS                 County State  StateFIPS  cases_2020  pop_per
0           0  Statewide Unallocated    AL          1           0      0.0
1           0  Statewide Unallocated    AL          1           0      0.0
2           0  Statewide Unallocated    AL          1           0      0.0
3           0  Statewide Unallocated    AL          1           0      0.0
4           0  Statewide Unallocated    AL          1           0      0.0

In [26]:
state_name = {
    'AL':'Alabama',
    'AK':'Alaska',
    'AZ':'Arizona',
    'AR':'Arkansas',
    'CA':'California',
    'CO':'Colorado',
    'CT':'Connecticut',
    'DE':'Delaware',
    'DC':'District of Columbia',
    'FL':'Florida',
    'GA':'Georgia',
    'HI':'Hawaii',
    'ID':'Idaho',
    'IL':'Illinois',
    'IN':'Indiana',
    'IA':'Iowa',
    'KS':'Kansas',
    'KY':'Kentucky',
    'LA':'Louisiana',
    'ME':'Maine',
    'MD':'Maryland',
    'MA':'Massachusetts',
    'MI':'Michigan',
    'MN':'Minnesota',
    'MS':'Mississippi',
    'MO':'Missouri',
    'MT':'Montana',
    'NE':'Nebraska',
    'NV':'Nevada',
    'NH':'New Hampshire',
    'NJ':'New Jersey',
    'NM':'New Mexico',
    'NY':'New York',
    'NC':'North Carolina',
    'ND':'North Dakota',
    'OH':'Ohio',
    'OK':'Oklahoma',
    'OR':'Oregon',
    'PA':'Pennsylvania',
    'RI':'Rhode Island',
    'SC':'South Carolina',
    'SD':'South Dakota',
    'TN':'Tennessee',
    'TX':'Texas',
    'UT':'Utah',
    'VT':'Vermont',
    'VA':'Virginia',
    'WA':'Washington',
    'WV':'West Virginia',
    'WI':'Wisconsin',
    'WY':'Wyoming'
}

state_abbreviations = list(state_name.keys())

In [27]:
state_abbreviations

['AL',
 'AK',
 'AZ',
 'AR',
 'CA',
 'CO',
 'CT',
 'DE',
 'DC',
 'FL',
 'GA',
 'HI',
 'ID',
 'IL',
 'IN',
 'IA',
 'KS',
 'KY',
 'LA',
 'ME',
 'MD',
 'MA',
 'MI',
 'MN',
 'MS',
 'MO',
 'MT',
 'NE',
 'NV',
 'NH',
 'NJ',
 'NM',
 'NY',
 'NC',
 'ND',
 'OH',
 'OK',
 'OR',
 'PA',
 'RI',
 'SC',
 'SD',
 'TN',
 'TX',
 'UT',
 'VT',
 'VA',
 'WA',
 'WV',
 'WI',
 'WY']

In [28]:
for state_abbr in state_abbreviations:
    # Calculate total_unallocated for the current state
    total_unallocated = cases_2020.loc[
        (cases_2020['State'] == state_abbr) & (cases_2020['County'] == 'Statewide Unallocated'),
        'cases_2020'
    ].values[0]
    
    county_list = cases_2020.loc[cases_2020['State'] == state_abbr, 'County'].unique()
    
    for county in county_list:
        cases_2020.loc[
            (cases_2020['State'] == state_abbr) & (cases_2020['County'] == county),
            'cases_2020'
        ] += total_unallocated * cases_2020.loc[
            (cases_2020['State'] == state_abbr) & (cases_2020['County'] == county),
            'pop_per'
        ]

In [29]:
cases_2020.tail()

      countyFIPS      County State  StateFIPS  cases_2020   pop_per
5738       56037  Sweetwater    WY         56      2966.0  0.073162
5739       56039       Teton    WY         56      2138.0  0.040542
5740       56041       Uinta    WY         56      1558.0  0.034947
5741       56043    Washakie    WY         56       781.0  0.013486
5742       56045      Weston    WY         56       476.0  0.011969

In [30]:
cases_2020.shape

(5743, 6)

In [31]:
cases_2020.describe()

         countyFIPS    StateFIPS     cases_2020      pop_per
count   5743.000000  5743.000000    5743.000000  5743.000000
mean   16622.919380    29.682570    4310.678043     0.008880
std    18829.354567    15.401841   17794.488043     0.034105
min        0.000000     1.000000       0.000000     0.000000
25%        0.000000    18.000000      27.000000     0.000000
50%     8051.000000    29.000000     750.000000     0.000741
75%    31104.000000    44.000000    2815.107611     0.005333
max    56045.000000    56.000000  828333.335596     1.000000

In [32]:
cases_2020[cases_2020['State']=='NJ']

,countyFIPS,County,State,StateFIPS,cases_2020,pop_per
3304,0,Statewide Unallocated,NJ,34,1057.000000,0.000000
3305,0,Statewide Unallocated,NJ,34,1057.000000,0.000000
3306,0,Statewide Unallocated,NJ,34,1057.000000,0.000000
3307,0,Statewide Unallocated,NJ,34,1057.000000,0.000000
3308,0,Statewide Unallocated,NJ,34,1057.000000,0.000000
...,...,...,...,...,...,...
3371,34033,Salem,NJ,34,3074.423951,0.007024
3372,34035,Somerset,NJ,34,15170.143864,0.037033
3373,34037,Sussex,NJ,34,4960.718379,0.015817
3374,34039,Union,NJ,34,41269.205794,0.062636
3375,34041,Warren,NJ,34,4298.527003,0.011851

In [33]:
cases_test[cases_test['State']=='NJ']

      countyFIPS                 County State  StateFIPS  2020-12-31     pop %
3304           0  Statewide Unallocated    NJ         34        1057  0.000000
3305           0  Statewide Unallocated    NJ         34        1057  0.000000
3306           0  Statewide Unallocated    NJ         34        1057  0.000000
3307           0  Statewide Unallocated    NJ         34        1057  0.000000
3308           0  Statewide Unallocated    NJ         34        1057  0.000000
...          ...                    ...   ...        ...         ...       ...
3371       34033                  Salem    NJ         34        3067  0.007024
3372       34035               Somerset    NJ         34       15131  0.037033
3373       34037                 Sussex    NJ         34        4944  0.015817
3374       34039                  Union    NJ         34       41203  0.062636
3375       34041                 Warren    NJ         34        4286  0.011851

[72 rows x 6 columns]

In [34]:
cases_2020 = cases_2020.drop_duplicates()
cases_2020.head()

    countyFIPS                 County State  StateFIPS  cases_2020   pop_per
0            0  Statewide Unallocated    AL          1         0.0  0.000000
51        1001                Autauga    AL          1      4190.0  0.011394
52        1003                Baldwin    AL          1     13601.0  0.045528
53        1005                Barbour    AL          1      1514.0  0.005035
54        1007                   Bibb    AL          1      1834.0  0.004567

### 2021 Cases

In [35]:
cases_2021 = cases[['countyFIPS', 'County', 'State', 'StateFIPS', '2021-12-31', 'pop %']].copy()

In [36]:
cases_2021.rename(columns = {'2021-12-31': 'cases_2021', 'pop %': 'pop_per'}, inplace =True)
cases_2021

      countyFIPS                 County State  StateFIPS  cases_2021   pop_per
0              0  Statewide Unallocated    AL          1           0  0.000000
1              0  Statewide Unallocated    AL          1           0  0.000000
2              0  Statewide Unallocated    AL          1           0  0.000000
3              0  Statewide Unallocated    AL          1           0  0.000000
4              0  Statewide Unallocated    AL          1           0  0.000000
...          ...                    ...   ...        ...         ...       ...
5738       56037             Sweetwater    WY         56        8320  0.073162
5739       56039                  Teton    WY         56        5950  0.040542
5740       56041                  Uinta    WY         56        4154  0.034947
5741       56043               Washakie    WY         56        1880  0.013486
5742       56045                 Weston    WY         56        1254  0.011969

[5743 rows x 6 columns]

In [37]:
for state_abbr in state_abbreviations:
    # Calculate total_unallocated for the current state
    total_unallocated = cases_2021.loc[
        (cases_2021['State'] == state_abbr) & (cases_2021['County'] == 'Statewide Unallocated'),
        'cases_2021'
    ].values[0]
    
    county_list = cases_2021.loc[cases_2021['State'] == state_abbr, 'County'].unique()
    
    for county in county_list:
        cases_2021.loc[
            (cases_2021['State'] == state_abbr) & (cases_2021['County'] == county),
            'cases_2021'
        ] += total_unallocated * cases_2021.loc[
            (cases_2021['State'] == state_abbr) & (cases_2021['County'] == county),
            'pop_per'
        ]

In [38]:
cases_2021.tail()

      countyFIPS      County State  StateFIPS  cases_2021   pop_per
5738       56037  Sweetwater    WY         56      8320.0  0.073162
5739       56039       Teton    WY         56      5950.0  0.040542
5740       56041       Uinta    WY         56      4154.0  0.034947
5741       56043    Washakie    WY         56      1880.0  0.013486
5742       56045      Weston    WY         56      1254.0  0.011969

In [39]:
cases_2021 = cases_2021.drop_duplicates()
cases_2021.head()

    countyFIPS                 County State  StateFIPS  cases_2021   pop_per
0            0  Statewide Unallocated    AL          1         0.0  0.000000
51        1001                Autauga    AL          1     11018.0  0.011394
52        1003                Baldwin    AL          1     39911.0  0.045528
53        1005                Barbour    AL          1      3860.0  0.005035
54        1007                   Bibb    AL          1      4533.0  0.004567

### 2022

In [40]:
cases_2022 = cases[['countyFIPS', 'County', 'State', 'StateFIPS', '2022-12-31', 'pop %']].copy()

In [41]:
cases_2022.rename(columns = {'2022-12-31': 'cases_2022', 'pop %': 'pop_per'}, inplace =True)
cases_2022

      countyFIPS                 County State  StateFIPS  cases_2022   pop_per
0              0  Statewide Unallocated    AL          1           0  0.000000
1              0  Statewide Unallocated    AL          1           0  0.000000
2              0  Statewide Unallocated    AL          1           0  0.000000
3              0  Statewide Unallocated    AL          1           0  0.000000
4              0  Statewide Unallocated    AL          1           0  0.000000
...          ...                    ...   ...        ...         ...       ...
5738       56037             Sweetwater    WY         56       12394  0.073162
5739       56039                  Teton    WY         56       11997  0.040542
5740       56041                  Uinta    WY         56        6303  0.034947
5741       56043               Washakie    WY         56        2717  0.013486
5742       56045                 Weston    WY         56        1876  0.011969

[5743 rows x 6 columns]

In [42]:
for state_abbr in state_abbreviations:
    # Calculate total_unallocated for the current state
    total_unallocated = cases_2022.loc[
        (cases_2022['State'] == state_abbr) & (cases_2022['County'] == 'Statewide Unallocated'),
        'cases_2022'
    ].values[0]
    
    county_list = cases_2022.loc[cases_2022['State'] == state_abbr, 'County'].unique()
    
    for county in county_list:
        cases_2022.loc[
            (cases_2022['State'] == state_abbr) & (cases_2022['County'] == county),
            'cases_2022'
        ] += total_unallocated * cases_2022.loc[
            (cases_2022['State'] == state_abbr) & (cases_2022['County'] == county),
            'pop_per'
        ]

In [43]:
cases_2022.tail()

      countyFIPS      County State  StateFIPS  cases_2022   pop_per
5738       56037  Sweetwater    WY         56     12394.0  0.073162
5739       56039       Teton    WY         56     11997.0  0.040542
5740       56041       Uinta    WY         56      6303.0  0.034947
5741       56043    Washakie    WY         56      2717.0  0.013486
5742       56045      Weston    WY         56      1876.0  0.011969

In [44]:
cases_2022 = cases_2022.drop_duplicates()
cases_2022.head(50)

    countyFIPS                 County State  StateFIPS  cases_2022   pop_per
0            0  Statewide Unallocated    AL          1         0.0  0.000000
51        1001                Autauga    AL          1     18961.0  0.011394
52        1003                Baldwin    AL          1     67496.0  0.045528
53        1005                Barbour    AL          1      7027.0  0.005035
54        1007                   Bibb    AL          1      7692.0  0.004567
55        1009                 Blount    AL          1     17731.0  0.011794
56        1011                Bullock    AL          1      2886.0  0.002060
57        1013                 Butler    AL          1      6185.0  0.003966
58        1015                Calhoun    AL          1     39458.0  0.023170
59        1017               Chambers    AL          1     10311.0  0.006782
60        1019               Cherokee    AL          1      6456.0  0.005343
61        1021                Chilton    AL          1     12596.0  0.009061
62        1023                Choctaw    AL          1      2204.0  0.002568
63        1025                 Clarke    AL          1      8184.0  0.004818
64        1027                   Clay    AL          1      4941.0  0.002699
65        1029               Cleburne    AL          1      4222.0  0.003041
66        1031                 Coffee    AL          1     16328.0  0.010675
67        1033                Colbert    AL          1     20165.0  0.011266
68        1035                Conecuh    AL          1      3410.0  0.002461
69        1037                  Coosa    AL          1      3643.0  0.002175
70        1039              Covington    AL          1     11250.0  0.007556
71        1041               Crenshaw    AL          1      4516.0  0.002809
72        1043                Cullman    AL          1     30119.0  0.017084
73        1045                   Dale    AL          1     15789.0  0.010029
74        1047                 Dallas    AL          1     10357.0  0.007586
75        1049                 DeKalb    AL          1     21738.0  0.014585
76        1051                 Elmore    AL          1     28545.0  0.016562
77        1053               Escambia    AL          1     11863.0  0.007471
78        1055                 Etowah    AL          1     33129.0  0.020857
79        1057                Fayette    AL          1      5694.0  0.003325
80        1059               Franklin    AL          1     11566.0  0.006396
81        1061                 Geneva    AL          1      7591.0  0.005358
82        1063                 Greene    AL          1      2194.0  0.001654
83        1065                   Hale    AL          1      5523.0  0.002988
84        1067                  Henry    AL          1      5574.0  0.003509
85        1069                Houston    AL          1     31004.0  0.021595
86        1071                Jackson    AL          1     17525.0  0.010529
87        1073              Jefferson    AL          1    225876.0  0.134315
88        1075                  Lamar    AL          1      4572.0  0.002816
89        1077             Lauderdale    AL          1     29121.0  0.018912
90        1079               Lawrence    AL          1      9102.0  0.006715
91        1081                    Lee    AL          1     45351.0  0.033558
92        1083              Limestone    AL          1     30685.0  0.020174
93        1085                Lowndes    AL          1      3148.0  0.001984
94        1087                  Macon    AL          1      4941.0  0.003685
95        1089                Madison    AL          1    111206.0  0.076054
96        1091                Marengo    AL          1      5895.0  0.003847
97        1093                 Marion    AL          1      9689.0  0.006059
98        1095               Marshall    AL          1     31626.0  0.019737
99        1097                 Mobile    AL          1    130646.0  0.084274

In [ ]:
# county_condition = pd.read_csv('./Data/')

In [56]:
merged_cases = pd.merge(cases_2020, cases_2021, how='left', on='countyFIPS')

In [57]:
county_cases = pd.merge(merged_cases, cases_2022, how='left', on='countyFIPS')

In [58]:
county_cases.head()

,countyFIPS,County_x,State_x,StateFIPS_x,cases_2020,pop_per_x,County_y,State_y,StateFIPS_y,cases_2021,pop_per_y,County,State,StateFIPS,cases_2022,pop_per
0,0,Statewide Unallocated,AL,1,0.0,0.0,Statewide Unallocated,AL,1,0.0,0.0,Statewide Unallocated,AL,1,0.0,0.0
1,0,Statewide Unallocated,AL,1,0.0,0.0,Statewide Unallocated,AL,1,0.0,0.0,Statewide Unallocated,AK,2,0.0,0.0
2,0,Statewide Unallocated,AL,1,0.0,0.0,Statewide Unallocated,AL,1,0.0,0.0,Statewide Unallocated,AZ,4,1000.0,0.0
3,0,Statewide Unallocated,AL,1,0.0,0.0,Statewide Unallocated,AL,1,0.0,0.0,Statewide Unallocated,AR,5,3033.0,0.0
4,0,Statewide Unallocated,AL,1,0.0,0.0,Statewide Unallocated,AL,1,0.0,0.0,Statewide Unallocated,CA,6,4479.0,0.0

In [59]:
county_cases

,countyFIPS,County_x,State_x,StateFIPS_x,cases_2020,pop_per_x,County_y,State_y,StateFIPS_y,cases_2021,pop_per_y,County,State,StateFIPS,cases_2022,pop_per
0,0,Statewide Unallocated,AL,1,0.0,0.000000,Statewide Unallocated,AL,1,0.0,0.000000,Statewide Unallocated,AL,1,0.0,0.000000
1,0,Statewide Unallocated,AL,1,0.0,0.000000,Statewide Unallocated,AL,1,0.0,0.000000,Statewide Unallocated,AK,2,0.0,0.000000
2,0,Statewide Unallocated,AL,1,0.0,0.000000,Statewide Unallocated,AL,1,0.0,0.000000,Statewide Unallocated,AZ,4,1000.0,0.000000
3,0,Statewide Unallocated,AL,1,0.0,0.000000,Statewide Unallocated,AL,1,0.0,0.000000,Statewide Unallocated,AR,5,3033.0,0.000000
4,0,Statewide Unallocated,AL,1,0.0,0.000000,Statewide Unallocated,AL,1,0.0,0.000000,Statewide Unallocated,CA,6,4479.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135788,56037,Sweetwater,WY,56,2966.0,0.073162,Sweetwater,WY,56,8320.0,0.073162,Sweetwater,WY,56,12394.0,0.073162
135789,56039,Teton,WY,56,2138.0,0.040542,Teton,WY,56,5950.0,0.040542,Teton,WY,56,11997.0,0.040542
135790,56041,Uinta,WY,56,1558.0,0.034947,Uinta,WY,56,4154.0,0.034947,Uinta,WY,56,6303.0,0.034947
135791,56043,Washakie,WY,56,781.0,0.013486,Washakie,WY,56,1880.0,0.013486,Washakie,WY,56,2717.0,0.013486
135792,56045,Weston,WY,56,476.0,0.011969,Weston,WY,56,1254.0,0.011969,Weston,WY,56,1876.0,0.011969

In [60]:
county_cases.drop(columns = ['County','State', 'StateFIPS', 'pop_per_x', 'County_y', 'State_y', 'StateFIPS_y',
                  'pop_per_y'], inplace=True)
county_cases.head()

,countyFIPS,County_x,State_x,StateFIPS_x,cases_2020,cases_2021,cases_2022,pop_per
0,0,Statewide Unallocated,AL,1,0.0,0.0,0.0,0.0
1,0,Statewide Unallocated,AL,1,0.0,0.0,0.0,0.0
2,0,Statewide Unallocated,AL,1,0.0,0.0,1000.0,0.0
3,0,Statewide Unallocated,AL,1,0.0,0.0,3033.0,0.0
4,0,Statewide Unallocated,AL,1,0.0,0.0,4479.0,0.0

In [61]:
columns_to_check_duplicates = ['countyFIPS', 'County_x', 'State_x', 'StateFIPS_x']

In [62]:
county_cases.drop_duplicates(subset=columns_to_check_duplicates, keep='first', inplace=True)

In [63]:
county_cases.rename(columns = {'County_x' : 'County', 'State_x': 'State', 'StateFIPS_x': 'StateFIPS'}, inplace =True)
county_cases.head()

,countyFIPS,County,State,StateFIPS,cases_2020,cases_2021,cases_2022,pop_per
0,0,Statewide Unallocated,AL,1,0.0,0.0,0.0,0.000000
2601,1001,Autauga,AL,1,4190.0,11018.0,18961.0,0.011394
2602,1003,Baldwin,AL,1,13601.0,39911.0,67496.0,0.045528
2603,1005,Barbour,AL,1,1514.0,3860.0,7027.0,0.005035
2604,1007,Bibb,AL,1,1834.0,4533.0,7692.0,0.004567

In [64]:
county_cases = county_cases.drop_duplicates()
county_cases.head(50)

,countyFIPS,County,State,StateFIPS,cases_2020,cases_2021,cases_2022,pop_per
0,0,Statewide Unallocated,AL,1,0.0,0.0,0.0,0.000000
2601,1001,Autauga,AL,1,4190.0,11018.0,18961.0,0.011394
2602,1003,Baldwin,AL,1,13601.0,39911.0,67496.0,0.045528
2603,1005,Barbour,AL,1,1514.0,3860.0,7027.0,0.005035
2604,1007,Bibb,AL,1,1834.0,4533.0,7692.0,0.004567
2605,1009,Blount,AL,1,4641.0,11256.0,17731.0,0.011794
2606,1011,Bullock,AL,1,859.0,1676.0,2886.0,0.002060
2607,1013,Butler,AL,1,1508.0,3613.0,6185.0,0.003966
2608,1015,Calhoun,AL,1,9494.0,23411.0,39458.0,0.023170
2609,1017,Chambers,AL,1,2341.0,6171.0,10311.0,0.006782
2610,1019,Cherokee,AL,1,1414.0,3385.0,6456.0,0.005343
2611,1021,Chilton,AL,1,2970.0,7424.0,12596.0,0.009061
2612,1023,Choctaw,AL,1,490.0,1026.0,2204.0,0.002568
2613,1025,Clarke,AL,1,2390.0,4944.0,8184.0,0.004818
2614,1027,Clay,AL,1,1141.0,2658.0,4941.0,0.002699
2615,1029,Cleburne,AL,1,1026.0,2649.0,4222.0,0.003041
2616,1031,Coffee,AL,1,3594.0,9782.0,16328.0,0.010675
2617,1033,Colbert,AL,1,4660.0,9822.0,20165.0,0.011266
2618,1035,Conecuh,AL,1,837.0,1983.0,3410.0,0.002461
2619,1037,Coosa,AL,1,517.0,1948.0,3643.0,0.002175
2620,1039,Covington,AL,1,2913.0,7139.0,11250.0,0.007556
2621,1041,Crenshaw,AL,1,954.0,2736.0,4516.0,0.002809
2622,1043,Cullman,AL,1,7079.0,16977.0,30119.0,0.017084
2623,1045,Dale,AL,1,3325.0,9393.0,15789.0,0.010029
2624,1047,Dallas,AL,1,2769.0,5561.0,10357.0,0.007586
2625,1049,DeKalb,AL,1,6900.0,13538.0,21738.0,0.014585
2626,1051,Elmore,AL,1,6435.0,16730.0,28545.0,0.016562
2627,1053,Escambia,AL,1,2661.0,7263.0,11863.0,0.007471
2628,1055,Etowah,AL,1,10031.0,20687.0,33129.0,0.020857
2629,1057,Fayette,AL,1,1430.0,3417.0,5694.0,0.003325
2630,1059,Franklin,AL,1,3270.0,6561.0,11566.0,0.006396
2631,1061,Geneva,AL,1,1677.0,4760.0,7591.0,0.005358
2632,1063,Greene,AL,1,672.0,1367.0,2194.0,0.001654
2633,1065,Hale,AL,1,1440.0,3309.0,5523.0,0.002988
2634,1067,Henry,AL,1,1247.0,3321.0,5574.0,0.003509
2635,1069,Houston,AL,1,7279.0,18474.0,31004.0,0.021595
2636,1071,Jackson,AL,1,5097.0,10637.0,17525.0,0.010529
2637,1073,Jefferson,AL,1,52339.0,126583.0,225876.0,0.134315
2638,1075,Lamar,AL,1,1056.0,2613.0,4572.0,0.002816
2639,1077,Lauderdale,AL,1,6478.0,15863.0,29121.0,0.018912
2640,1079,Lawrence,AL,1,2044.0,5071.0,9102.0,0.006715
2641,1081,Lee,AL,1,10320.0,26975.0,45351.0,0.033558
2642,1083,Limestone,AL,1,6822.0,17088.0,30685.0,0.020174
2643,1085,Lowndes,AL,1,945.0,1876.0,3148.0,0.001984
2644,1087,Macon,AL,1,999.0,2614.0,4941.0,0.003685
2645,1089,Madison,AL,1,22197.0,57750.0,111206.0,0.076054
2646,1091,Marengo,AL,1,1793.0,3509.0,5895.0,0.003847
2647,1093,Marion,AL,1,2087.0,5560.0,9689.0,0.006059
2648,1095,Marshall,AL,1,9189.0,19507.0,31626.0,0.019737
2649,1097,Mobile,AL,1,25858.0,78903.0,130646.0,0.084274

# Deaths by Day

In [ ]:
deaths = pd.read_csv('./Ignore/covid_deaths_usafacts.csv')
deaths

In [ ]:
for state, abrv in state_list:
    state_abrv 
    pop['population'] == sum(county['population'] if county['State'] == state_abrv)