In [3]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data Collection

## Collecting Asthma Information

In [19]:
asthma = pd.read_csv('Ignore/Asthma.csv')

In [6]:
asthma.shape

(80342, 33)

In [7]:
asthma.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2014,2014,AR,Arkansas,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,5,AST,AST3_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN
1,2018,2018,CO,Colorado,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,8,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2018,2018,DC,District of Columbia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,11,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2017,2017,GA,Georgia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,13,AST,AST3_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN
4,2010,2010,MI,Michigan,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,26,AST,AST3_1,NMBR,RACE,HIS,NaN,NaN,NaN,NaN

In [8]:
asthma.Question.value_counts()

Asthma mortality rate                                                                      13497
Current asthma prevalence among adults aged >= 18 years                                     9570
Influenza vaccination among noninstitutionalized adults aged >= 65 years with asthma        9570
Influenza vaccination among noninstitutionalized adults aged 18-64 years with asthma        9570
Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with asthma     9570
Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma     9570
Hospitalizations for asthma                                                                 7812
Emergency department visit rate for asthma                                                  7608
Asthma prevalence among women aged 18-44 years                                              3575
Name: Question, dtype: int64

In [20]:
asthma = asthma[asthma['Question']== "Current asthma prevalence among adults aged >= 18 years"]

In [21]:
asthma.shape

(9570, 33)

In [11]:
asthma.describe()

,YearStart,YearEnd,Response,DataValue,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory2,Stratification2,StratificationCategory3,Stratification3,ResponseID,LocationID,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
count,9570.000000,9570.000000,0.0,7662.000000,7662.000000,7662.000000,7662.000000,0.0,0.0,0.0,0.0,0.0,9570.000000,0.0,0.0,0.0,0.0
mean,2016.000000,2016.000000,NaN,10.195184,10.195184,8.039585,13.059867,NaN,NaN,NaN,NaN,NaN,31.542529,NaN,NaN,NaN,NaN
std,3.162443,3.162443,NaN,3.745644,3.745644,2.676902,5.999667,NaN,NaN,NaN,NaN,NaN,18.265420,NaN,NaN,NaN,NaN
min,2011.000000,2011.000000,NaN,1.900000,1.900000,1.100000,3.300000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
25%,2013.000000,2013.000000,NaN,7.700000,7.700000,6.100000,9.300000,NaN,NaN,NaN,NaN,NaN,17.000000,NaN,NaN,NaN,NaN
50%,2016.000000,2016.000000,NaN,9.600000,9.600000,8.000000,11.400000,NaN,NaN,NaN,NaN,NaN,31.000000,NaN,NaN,NaN,NaN
75%,2019.000000,2019.000000,NaN,11.900000,11.900000,9.800000,14.800000,NaN,NaN,NaN,NaN,NaN,45.000000,NaN,NaN,NaN,NaN
max,2021.000000,2021.000000,NaN,44.100000,44.100000,26.900000,66.600000,NaN,NaN,NaN,NaN,NaN,78.000000,NaN,NaN,NaN,NaN

In [22]:
asthma = asthma[asthma['YearStart'] >= 2019]

In [23]:
asthma.shape

(2610, 33)

In [14]:
asthma.YearStart.value_counts()

2019    870
2020    870
2021    870
Name: YearStart, dtype: int64

In [24]:
asthma = asthma[['YearStart', 'LocationAbbr', 'LocationDesc', 'Question', 'DataValue', 'Stratification1']]

In [25]:
asthma.head()

,YearStart,LocationAbbr,LocationDesc,Question,DataValue,Stratification1
28919,2019,GU,Guam,Current asthma prevalence among adults aged >=...,7.5,Female
28927,2019,AK,Alaska,Current asthma prevalence among adults aged >=...,10.0,"White, non-Hispanic"
28932,2019,AK,Alaska,Current asthma prevalence among adults aged >=...,12.6,Female
28943,2020,AK,Alaska,Current asthma prevalence among adults aged >=...,8.9,Overall
28948,2021,AK,Alaska,Current asthma prevalence among adults aged >=...,13.8,"Multiracial, non-Hispanic"

In [29]:
asthma.shape

(2610, 6)

In [32]:
asthma['LocationDesc'].nunique()

55

In [36]:
asthma.drop_duplicates(inplace=True)

In [37]:
asthma.shape

(2200, 6)

## Creating a function

In [38]:
cancer = pd.read_csv('Ignore/Cancer.csv')

In [39]:
heart = pd.read_csv('Ignore/Cardiovascular.csv')

In [44]:
copd = pd.read_csv('Ignore/COPD.csv')

In [40]:
def cleaning(df):
    print(df.shape)
    df = df[df['YearStart'] >= 2019]
    print(df.shape)
    df = df[['YearStart', 'LocationAbbr', 'LocationDesc', 'Question', 'DataValue', 'Stratification1']]
    print(df.shape)
    df.drop_duplicates(inplace=True)
    return df

In [41]:
cleaning(cancer)

(176339, 33)
(2495, 33)
(2495, 6)

,YearStart,LocationAbbr,LocationDesc,Question,DataValue,Stratification1
159745,2020,ID,Idaho,Mammography use among women aged 50-74 years,66.5,Hispanic
159757,2020,AK,Alaska,Mammography use among women aged 50-74 years,NaN,Hispanic
159761,2020,AK,Alaska,Recent Papanicolaou smear use among women aged...,NaN,Hispanic
159763,2020,AK,Alaska,Papanicolaou smear use among adult women aged ...,NaN,"Black, non-Hispanic"
159767,2020,AK,Alaska,"Fecal occult blood test, sigmoidoscopy, or col...",NaN,"Black, non-Hispanic"
...,...,...,...,...,...,...
176334,2020,WY,Wyoming,Papanicolaou smear use among adult women aged ...,72.6,Overall
176335,2020,WY,Wyoming,"Fecal occult blood test, sigmoidoscopy, or col...",NaN,"Multiracial, non-Hispanic"
176336,2020,WY,Wyoming,"Fecal occult blood test, sigmoidoscopy, or col...",49.8,Hispanic
176337,2020,WY,Wyoming,Mammography use among women aged 50-74 years,NaN,"Other, non-Hispanic"
176338,2020,WY,Wyoming,Recent Papanicolaou smear use among women aged...,74.6,"White, non-Hispanic"

In [42]:
cleaning(heart)

(157750, 33)
(32675, 33)
(32675, 6)

,YearStart,LocationAbbr,LocationDesc,Question,DataValue,Stratification1
4,2020,OK,Oklahoma,Mortality from heart failure,164.8,"Black, non-Hispanic"
5,2020,OR,Oregon,Mortality from coronary heart disease,64.4,"White, non-Hispanic"
6,2019,NV,Nevada,Mortality from coronary heart disease,119.9,Overall
7,2019,MN,Minnesota,Mortality from heart failure,109.3,"White, non-Hispanic"
8,2019,AR,Arkansas,Mortality from heart failure,119.7,Overall
...,...,...,...,...,...,...
157745,2020,WY,Wyoming,Pneumococcal vaccination among noninstitutiona...,NaN,"Multiracial, non-Hispanic"
157746,2020,WY,Wyoming,Influenza vaccination among noninstitutionaliz...,NaN,Hispanic
157747,2020,WY,Wyoming,Pneumococcal vaccination among noninstitutiona...,NaN,Hispanic
157748,2020,WY,Wyoming,Influenza vaccination among noninstitutionaliz...,NaN,Hispanic
157749,2020,WY,Wyoming,Pneumococcal vaccination among noninstitutiona...,NaN,Hispanic

In [45]:
cleaning(copd)

(152874, 33)
(25560, 33)
(25560, 6)

,YearStart,LocationAbbr,LocationDesc,Question,DataValue,Stratification1
22,2020,US,United States,Hospitalization for chronic obstructive pulmon...,2312.0,Hispanic
28,2020,KS,Kansas,Mortality with chronic obstructive pulmonary d...,27.5,Hispanic
34,2020,AL,Alabama,Mortality with chronic obstructive pulmonary d...,3346.0,Overall
46,2020,KS,Kansas,Mortality with chronic obstructive pulmonary d...,137.0,Male
49,2019,IA,Iowa,Mortality with chronic obstructive pulmonary d...,910.0,Female
...,...,...,...,...,...,...
152869,2020,WY,Wyoming,Influenza vaccination among noninstitutionaliz...,NaN,"Multiracial, non-Hispanic"
152870,2020,WY,Wyoming,Prevalence of current smoking among adults >= ...,NaN,"Other, non-Hispanic"
152871,2020,WY,Wyoming,Pneumococcal vaccination among noninstitutiona...,NaN,"Black, non-Hispanic"
152872,2020,WY,Wyoming,Prevalence of current smoking among adults >= ...,NaN,Hispanic
152873,2020,WY,Wyoming,Prevalence of chronic obstructive pulmonary di...,NaN,"Multiracial, non-Hispanic"

In [46]:
diabetes = pd.read_csv('Ignore/Diabetes.csv')

In [47]:
cleaning(diabetes)

(156808, 33)
(36327, 33)
(36327, 6)

,YearStart,LocationAbbr,LocationDesc,Question,DataValue,Stratification1
13,2020,LA,Louisiana,Mortality with diabetic ketoacidosis reported ...,55.0,Male
39,2020,US,United States,Mortality with diabetic ketoacidosis reported ...,8342.0,Overall
45,2019,FL,Florida,Mortality due to diabetes reported as any list...,39.5,Female
48,2019,GA,Georgia,Mortality due to diabetes reported as any list...,82.6,"Black, non-Hispanic"
52,2020,MD,Maryland,Mortality due to diabetes reported as any list...,62.6,Asian or Pacific Islander
...,...,...,...,...,...,...
156803,2020,WY,Wyoming,Pneumococcal vaccination among noninstitutiona...,62.1,Male
156804,2020,WY,Wyoming,Visits to dentist or dental clinic among adult...,NaN,"Multiracial, non-Hispanic"
156805,2020,WY,Wyoming,Prevalence of depressive disorders among adult...,NaN,"Black, non-Hispanic"
156806,2020,WY,Wyoming,Dilated eye examination among adults aged >= 1...,NaN,"White, non-Hispanic"
156807,2020,WY,Wyoming,Diabetes prevalence among women aged 18-44 years,NaN,Hispanic

In [48]:
immun = pd.read_csv('Ignore/Immunization.csv')

In [49]:
cleaning(immun)

(9570, 33)
(2610, 33)
(2610, 6)

,YearStart,LocationAbbr,LocationDesc,Question,DataValue,Stratification1
1,2019,AK,Alaska,Influenza vaccination among noninstitutionaliz...,34.6,Male
4,2019,AK,Alaska,Influenza vaccination among noninstitutionaliz...,39.8,Female
5,2019,AK,Alaska,Influenza vaccination among noninstitutionaliz...,33.5,Hispanic
6,2021,AK,Alaska,Influenza vaccination among noninstitutionaliz...,41.1,"White, non-Hispanic"
8,2021,AL,Alabama,Influenza vaccination among noninstitutionaliz...,34.9,"Other, non-Hispanic"
...,...,...,...,...,...,...
9565,2020,WY,Wyoming,Influenza vaccination among noninstitutionaliz...,44.9,Female
9566,2020,WY,Wyoming,Influenza vaccination among noninstitutionaliz...,36.3,Hispanic
9567,2020,WY,Wyoming,Influenza vaccination among noninstitutionaliz...,35.4,"Multiracial, non-Hispanic"
9568,2020,WY,Wyoming,Influenza vaccination among noninstitutionaliz...,37.0,"Other, non-Hispanic"
9569,2020,WY,Wyoming,Influenza vaccination among noninstitutionaliz...,41.9,"White, non-Hispanic"

In [50]:
kidney = pd.read_csv('Ignore/Kidney.csv')

In [51]:
cleaning(kidney)

(24731, 33)
(5064, 33)
(5064, 6)

,YearStart,LocationAbbr,LocationDesc,Question,DataValue,Stratification1
6,2019,IL,Illinois,Mortality with end-stage renal disease,4275.0,Male
10,2019,IA,Iowa,Mortality with end-stage renal disease,2571.0,Overall
17,2020,MN,Minnesota,Mortality with end-stage renal disease,2788.0,Male
23,2020,OR,Oregon,Mortality with end-stage renal disease,1543.0,Female
24,2019,MD,Maryland,Mortality with end-stage renal disease,4291.0,Overall
...,...,...,...,...,...,...
24726,2020,WY,Wyoming,Prevalence of chronic kidney disease among adu...,2.8,Female
24727,2020,WY,Wyoming,Prevalence of chronic kidney disease among adu...,NaN,"Black, non-Hispanic"
24728,2020,WY,Wyoming,Prevalence of chronic kidney disease among adu...,2.2,"White, non-Hispanic"
24729,2020,WY,Wyoming,Prevalence of chronic kidney disease among adu...,2.5,Overall
24730,2020,WY,Wyoming,Prevalence of chronic kidney disease among adu...,NaN,Hispanic

In [52]:
# I now have 7 dataframes. Some of these need to be filtered by question
# asthma, cancer, heart, copd, diabetes, immun, kidney
# I have the overall rates as well as rates by gender & race

In [53]:
print(asthma.shape)
print(cancer.shape)
print(heart.shape)
print(copd.shape)
print(diabetes.shape)
print(immun.shape)
print(kidney.shape)

(2200, 6)
(176339, 33)
(157750, 33)
(152874, 33)
(156808, 33)
(9570, 33)
(24731, 33)

In [54]:
#Reducing Cancer to just total cancer
cancer.Question.value_counts()

Cancer of the oral cavity and pharynx, mortality                                        9984
Invasive cancer of the oral cavity or pharynx, incidence                                9984
Cancer of the lung and bronchus, incidence                                              9984
Cancer of the colon and rectum (colorectal), incidence                                  9984
Invasive cancer of the cervix, incidence                                                9984
Invasive cancer of the female breast, incidence                                         9984
Invasive cancer (all sites combined), incidence                                         9984
Cancer of the prostate, mortality                                                       9984
Invasive cancer of the prostate, incidence                                              9984
Melanoma, mortality                                                                     9984
Invasive melanoma, incidence                                                            9984
Cancer of the lung and bronchus, mortality                                              9984
Cancer of the colon and rectum (colorectal), mortality                                  9984
Cancer of the female cervix, mortality                                                  9984
Cancer of the female breast, mortality                                                  9984
Invasive cancer (all sites combined), mortality                                         9984
Fecal occult blood test, sigmoidoscopy, or colonoscopy among adults aged 50-75 years    5220
Mammography use among women aged 50-74 years                                            4550
Papanicolaou smear use among adult women aged 21-65 years                               4550
Recent Papanicolaou smear use among women aged 21-44 years                              2275
Name: Question, dtype: int64

In [55]:
cancer = cancer[cancer['Question']== 'Invasive cancer (all sites combined), incidence']

In [56]:
cancer.shape

(9984, 33)

In [58]:
cancer.describe()
# This is an incident rate- not controlled for pop size or rate per 100,000

,YearStart,YearEnd,Response,DataValue,DataValueAlt,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory2,Stratification2,StratificationCategory3,Stratification3,ResponseID,LocationID,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
count,9984.000000,9984.000000,0.0,9642.000000,9.642000e+03,6428.000000,6428.000000,0.0,0.0,0.0,0.0,0.0,9984.000000,0.0,0.0,0.0,0.0
mean,2011.500000,2015.500000,NaN,6135.931083,8.325253e+03,304.626058,315.519882,NaN,NaN,NaN,NaN,NaN,29.538462,NaN,NaN,NaN,NaN
std,2.291403,2.291403,NaN,37032.186702,7.023877e+04,217.318231,220.985559,NaN,NaN,NaN,NaN,NaN,16.064933,NaN,NaN,NaN,NaN
min,2008.000000,2012.000000,NaN,0.100000,1.000000e-01,0.100000,0.200000,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
25%,2009.750000,2013.750000,NaN,113.775000,1.137750e+02,44.075000,45.575000,NaN,NaN,NaN,NaN,NaN,16.750000,NaN,NaN,NaN,NaN
50%,2011.500000,2015.500000,NaN,440.100000,4.401000e+02,383.850000,396.850000,NaN,NaN,NaN,NaN,NaN,29.500000,NaN,NaN,NaN,NaN
75%,2013.250000,2017.250000,NaN,621.800000,6.218000e+02,486.325000,496.700000,NaN,NaN,NaN,NaN,NaN,42.500000,NaN,NaN,NaN,NaN
max,2015.000000,2019.000000,NaN,879713.000000,1.736608e+06,763.200000,892.900000,NaN,NaN,NaN,NaN,NaN,59.000000,NaN,NaN,NaN,NaN

In [59]:
heart.Question.value_counts()
# I may want to split this into 3 dataframes: hospitlizations or mortality for heart failure/ diseases of the heart, hypertension, high cholesterol
# Do I want to sum the mortalities or hospitalizations somehow?

Hospitalization for heart failure among Medicare-eligible persons aged >= 65 years                                             13728
Mortality from coronary heart disease                                                                                          13497
Mortality from total cardiovascular diseases                                                                                   13497
Mortality from diseases of the heart                                                                                           13497
Mortality from cerebrovascular disease (stroke)                                                                                13497
Mortality from heart failure                                                                                                   13221
Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with a history of coronary heart disease            9570
Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with a history of coronary heart disease            9570
Influenza vaccination among noninstitutionalized adults aged >= 65 years with a history of coronary heart disease or stroke     9570
Influenza vaccination among noninstitutionalized adults aged 18-64 years with a history of coronary heart disease or stroke     9570
Hospitalization for acute myocardial infarction                                                                                 7824
Hospitalization for stroke                                                                                                      7824
Awareness of high blood pressure among adults aged >= 18 years                                                                  5220
Taking medicine for high blood pressure control among adults aged >= 18 years with high blood pressure                          5220
Cholesterol screening among adults aged >= 18 years                                                                             5220
High cholesterol prevalence among adults aged >= 18 years                                                                       5220
Awareness of high blood pressure among women aged 18-44 years                                                                   1950
Pre-pregnancy hypertension                                                                                                        55
Name: Question, dtype: int64

In [60]:
copd.Question.value_counts()

Hospitalization for chronic obstructive pulmonary disease as first-listed diagnosis among Medicare-eligible persons aged >= 65 years    13728
Hospitalization for chronic obstructive pulmonary disease as any diagnosis among Medicare-eligible persons aged >= 65 years             13728
Mortality with chronic obstructive pulmonary disease as underlying cause among adults aged >= 45 years                                  13497
Mortality with chronic obstructive pulmonary disease as underlying or contributing cause among adults aged >= 45 years                  13497
Prevalence of chronic obstructive pulmonary disease among adults >= 18                                                                   9570
Prevalence of chronic obstructive pulmonary disease among adults >= 45 years                                                             9570
Prevalence of current smoking among adults >= 45 years with diagnosed chronic obstructive pulmonary disease                              9570
Prevalence of current smoking among adults >= 18 with diagnosed chronic obstructive pulmonary disease                                    9570
Pneumococcal vaccination among noninstitutionalized adults aged >= 45 years with chronic obstructive pulmonary disease                   9570
Influenza vaccination among noninstitutionalized adults aged >= 45 years with chronic obstructive pulmonary disease                      9570
Hospitalization for chronic obstructive pulmonary disease as first-listed diagnosis                                                      7950
Hospitalization for chronic obstructive pulmonary disease as any diagnosis                                                               7812
Emergency department visit rate for chronic obstructive pulmonary disease as first-listed diagnosis                                      7401
Emergency department visit rate for chronic obstructive pulmonary disease as any diagnosis                                               7401
Prevalence of activity limitation among adults >= 45 years with diagnosed chronic obstructive pulmonary disease                          5220
Prevalence of activity limitation among adults >= 18 with diagnosed chronic obstructive pulmonary disease                                5220
Name: Question, dtype: int64

In [61]:
copd = copd[copd['Question']== 'Prevalence of chronic obstructive pulmonary disease among adults >= 18']

In [62]:
copd.shape

(9570, 33)

In [63]:
diabetes['Question'].value_counts()

Mortality due to diabetes reported as any listed cause of death                                        13497
Mortality with diabetic ketoacidosis reported as any listed cause of death                             13491
Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes     9570
Influenza vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes        9570
Prevalence of diagnosed diabetes among adults aged >= 18 years                                          9570
Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes     9570
Influenza vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes        9570
Glycosylated hemoglobin measurement among adults aged >= 18 years with diagnosed diabetes               9570
Prevalence of depressive disorders among adults aged >= 18 years with diagnosed diabetes                9570
Adults with diagnosed diabetes aged >= 18 years who have taken a diabetes self-management course        9570
Dilated eye examination among adults aged >= 18 years with diagnosed diabetes                           9570
Foot examination among adults aged >= 18 years with diagnosed diabetes                                  9570
Hospitalization with diabetes as a listed diagnosis                                                     7824
Amputation of a lower extremity attributable to diabetes                                                7824
Prevalence of high cholesterol among adults aged >= 18 years with diagnosed diabetes                    5220
Prevalence of high blood pressure among adults aged >= 18 years with diagnosed diabetes                 5220
Visits to dentist or dental clinic among adults aged >= 18 years with diagnosed diabetes                4350
Diabetes prevalence among women aged 18-44 years                                                        3575
Prevalence of pre-pregnancy diabetes                                                                      55
Prevalence of gestational diabetes                                                                        52
Name: Question, dtype: int64

In [64]:
diabetes = diabetes[diabetes['Question']== 'Prevalence of diagnosed diabetes among adults aged >= 18 years']

In [65]:
diabetes.shape

(9570, 33)

In [66]:
immun['Question'].value_counts()

Influenza vaccination among noninstitutionalized adults aged >= 18 years    9570
Name: Question, dtype: int64